<app-small-slider [centerName]="title"></app-small-slider>

<app-right-side-image image="../../assets/images.jpg" title="Najlepszy domek w górach"></app-right-side-image>
<app-left-side-image image="../../assets/images2.jpg" title="Najlepszy domek w górach"></app-left-side-image>
<app-right-side-image image="../../assets/images3.jpg" title="Najlepszy domek w górach"></app-right-side-image>
<app-left-side-image image="../../assets/images4.jpg" title="Najlepszy domek w górach"></app-left-side-image>
