$row-height: 80vh;

.image-left {
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-color: rgb(247, 245, 245);
}


@media only screen and (min-width: 768px) {

    /* For desktop: */

    .col-5 {
        height: $row-height;
        float:right;
    }



    .col-7 {
        height: $row-height;
        float:left;
    }

    .image {
        max-width: 100%;
    }

}

.image {
    // height: $row-height;
    width: 100vw;
}

.title {
    margin: 0;
    width: 100%;  
    color: rgb(60, 60, 60);
}

.content {
    color: rgb(93, 92, 92);
    margin-left: 7vw;
    margin-right: 7vw;
}