<div class="row image-left">
    <div class="col-7">
        <img src="{{image}}" class="image">
    </div>

    <div class="col-5">
        <div class="centered-div">
            <h1 class="title">{{title}}</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi interdum bibendum magna, mollis blandit eros varius nec. Pellentesque nec auctor nibh, nec vestibulum leo. Nulla et finibus felis. Cras et orci volutpat, auctor leo a, consequat nulla. Maecenas quis efficitur est. Pellentesque vitae tristique ipsum, eu egestas mauris. Aliquam faucibus sapien vitae odio iaculis, non tristique urna euismod. Nulla efficitur, massa ac finibus cursus, ex ante porta libero, eget sodales odio dolor luctus nisl. Nunc nec nibh nec turpis tempus molestie eget vitae nisi. Pellentesque viverra lectus ut massa ultrices ultricies non nec nunc. Etiam sed feugiat enim. Fusce nec ipsum ipsum. Proin vel nulla erat. Phasellus pulvinar lorem vitae magna lobortis sodales.</p>
        </div>
    </div>
    <div style="clear: both;"></div>
</div>