.footer {
    color: white;
    text-align: center;
    background-color: rgb(75, 74, 74);
    height: 8vh;
    width: 100vw;
}

.footer-text {
    padding-top: 3vh;
}

.scrollup {
    width: 64px;
    height: 64px;
    text-decoration: none;
    background-color: rgba(128, 128, 128, 0.356);
    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.5s, opacity 0.5s linear;
}

.scrollup-visible {
    visibility: visible;
    opacity: 1;
}

.fa-angle-up {
    font-size: 48px;
    width: 64px;
    height: 64px;
    text-align: center;
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.scrollup :hover {
    background-color: rgba(192, 190, 190, 0.514);
    cursor: pointer;
}