.image{
    width: 90%;
    margin: 5%;
}

.title {
    margin-bottom: 20px;
    margin-top: 10vh;
    font-size: large;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: rgb(60, 60, 60);;
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .image {
        width: 90%;
    }
}

