
<!-- https://unused-css.com/blog/css-only-background-slider/ -->

<app-slider></app-slider>
<app-right-side-image image="../../assets/images.jpg" title="Najlepszy domek w górach"></app-right-side-image>
<app-left-side-image image="../../assets/images.jpg" title="Najlepszy domek w górach"></app-left-side-image>
<app-right-side-image image="../../assets/images2.jpg" title="Najlepszy domek w górach"></app-right-side-image>
<app-left-side-image image="../../assets/images.jpg" title="Najlepszy domek w górach"></app-left-side-image>
<router-outlet></router-outlet>