$row-height: 80vh;

.image-right {
    padding-top: 10vh;
    padding-bottom: 10vh;
    display:flex;
    flex-wrap: wrap;
}

.order-1{
    order:1;
  }
.order-2{
order:2;
}

@media only screen and (min-width: 768px) {

    /* For desktop: */

    .col-5 {
        height: $row-height;
        float:left;
    }



    .col-7 {
        height: $row-height;
        float:right;
    }

    .image {
        max-width: 100%;
    }

    .order-lg-1{
        order:1;
      }

    .order-lg-2{
    order:2;
    }

}

.image {
    // height: $row-height;
    width: 100vw;
}