
.contact-row {
    margin-top: 5vh;
}

.title {
    margin-bottom: 20px;
    font-size: large;
    font-size: 20px;
    font-weight: 600;
    color: rgb(60, 60, 60);
    text-align: center;
}

.content {
    font-size: large;
    text-align: center;
    font-size: 15px;
}

.icon {
    color: rgb(85, 103, 185);
    font-size: 20px;
    display: inline-block;
}

.icon-content {
    display: inline-block; 
    vertical-align: top;
}

.field {
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
}

.textarea {
    height: auto;
}

@media only screen and (min-width: 768px) {

    /* For desktop: */
    .field {
        width: 400px;
        margin-left: 0;
        margin-right: 0;
    }

}