<app-small-slider [centerName]="title"></app-small-slider>
<div class="row contact-row">
    <div class="col-3"></div>
    <div class="col-2">
        <div class="title">
            Apartament
        </div>

        <div class="content">
            Znamirowice 209
        </div>

        <div class="content">
            33-312, Łososina Dolna
        </div>

        <div class="title" style="margin-top: 5vh;">
            Dane kontaktowe
        </div>

        <div class="content">
            <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="call"></mat-icon>
            <div class="icon-content">
                +48 000 000 000
            </div>
        </div>

        <div class="content">
            <mat-icon class="icon" aria-hidden="false" aria-label="Example home icon" fontIcon="mail"></mat-icon>
            <div class="icon-content">
                example&#64;gmail.com
            </div>
        </div>
    </div>
    <div class="col-1"></div>
    <div class="col-4" style="vertical-align: top; text-align: center;">
        <div class="title">
            Formularz kontaktowy
        </div>
        <form [formGroup]="personal">
            <p>
                <mat-form-field class="field">
                    <mat-label>Imię</mat-label>
                    <input matInput [type]="'text'" formControlName="firstName" required>
                    <mat-hint *ngIf="!firstNameInput?.value" style="color: red;  font-size: 11px;">Pole
                        wymagane</mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="field">
                    <mat-label>Nazwisko</mat-label>
                    <input matInput [type]="'text'" formControlName="lastName" required>
                    <mat-hint *ngIf="!lastNameInput?.value" style="color: red;  font-size: 11px;">Pole
                        wymagane</mat-hint>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field class="field">
                    <mat-label>Email</mat-label>
                    <input matInput [type]="'email'" formControlName="email" required>
                    <mat-hint *ngIf="!emailInput?.value" style="color: red;  font-size: 11px;">Pole
                        wymagane</mat-hint>
                </mat-form-field>
            </p>
            <p>
            <mat-form-field class="field textarea">
                    <mat-label>Wiadomość</mat-label>
                    <textarea matInput [type]="'message'" formControlName="message" required rows="5"></textarea>
                    <mat-hint *ngIf="!messageInput?.value" style="color: red;  font-size: 11px;">Pole
                        wymagane</mat-hint>
                </mat-form-field>
            </p>
            <p><mat-checkbox class="field" color="primary" formControlName="rodo">Wyrażam zgodę na przetwarzanie moich danych osobowych podanych w powyższym formularzu w celu odpowiedzi na zapytanie.</mat-checkbox></p>
        </form>
            <button mat-raised-button color="primary" [disabled]="isAnyError()" (click)="sendMessage()">Wyślij</button>
        
    </div>
    <div class="col-3"></div>
</div>