
.contact-row {
    margin-top: 5vh;
}

.title {
    margin-bottom: 20px;
    font-size: large;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
}

.content {
    font-size: large;
    text-align: left;
    font-size: 15px;
}

.icon {
    color: rgb(85, 103, 185);
    font-size: 20px;
    display: inline-block;
}

.icon-content {
    display: inline-block; 
    vertical-align: top;
}